<div class="contact" id="contact">
  <br><br>
  <div class="container-fluid" style="width: 50%;" >
    <form class="form-group" (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
      <label for="name">Name</label>
      <input type="text" class="form-control" ngModel name="name">
  
      <label for="number">Number</label>
      <input type="tel" class="form-control" ngModel name="number">
  
      <label for="email">Email</label>
      <input type="email" class="form-control" ngModel name="email">
  
      <label for="topic">Technology</label><br>
      <select name="tech" id="tech" class="custom-select" ngModel name="technology">
        <option *ngFor="let tech of technology">{{tech}}</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
    </div>
  <br><br>

  <h2 style="text-align: center; color:white; padding-top: 30px;">Contact Us</h2><br><br>
  <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-3">
          <div class="card card-c" style="width: 70%; margin: auto;">
              <img class="card-img-top card-i" src="assets/faq-icon.jpg">
              <div class="card-body card-c" style="text-align: center;">
                  <h4 class="card-title">FAQs</h4>
                  <p class="card-text">Accusantium vitae quaerat facere similique tenetur maxime consectetur pariatur sit rerum?</p>
                  
                </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-c" style="width: 70%; margin: auto;">
              <img class="card-img-top card-i" src="assets/unnamed.png">
              <div class="card-body card-c" style="text-align: center;">
                  <h4 class="card-title">Headquarters</h4>
                  <p class="card-text">Trimurti sadan bunglow, Sadanand Hsg society, Sitaram Bibwe path, Bibwewadi Pune, Maharashtra-411037, India</p>
                  
                </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card card-c" style="width: 70%; margin: auto;">
              <img class="card-img-top card-i" src="assets/pngguru.com.png">
              <div class="card-body card-c" style="text-align: center;">
                  <h4 class="card-title">Working hours</h4>
                  <p class="card-text ">Open Monday to Saturday
                      From 10:00 AM to 07:30 PM <br>
                  Sunday Closed</p>
                  
                </div>
          </div>
      </div>
      <div class="col-md-1">

      </div>
  </div>
  
</div>