<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
<!-- <nav>
  <a routerLink="/mycomp">My Component</a>
  <a routerLink="/macomp">Mah Component</a>
</nav> -->

<nav class="navbar navbar-expand bg-dark navbar-dark fixed-top">
  <a href="#">
      <img src="assets/logo.png" style="width: 100px; padding-left: 70px;" class="navbar-brand">
      
  </a>
   <ul class="navbar-nav mr-auto">
      <li class="navbar-item navbar-h">Averta Strategy</li>
   </ul>


  <ul class="navbar-nav ml-auto">
      <li class="navbar-item navbar-a">
          <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="navbar-item navbar-a">
          <a class="nav-link" href="/home">Services</a>
      </li>
      <li class="navbar-item navbar-a">
          <a class="nav-link" routerLink="/team">Team</a>
      </li>
      <li class="navbar-item navbar-c">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
  </ul>
</nav>


<router-outlet></router-outlet>
<footer class="fixed-bottom">
  <h5>Copyright © 2018 Averta Strategy. Designed and Developed by Averta Strategy</h5>
</footer>