<div class="team" id="team">
  <br><br>

  <h2 style="text-align: center; color: white; padding-top: 30px;">Our Team</h2><br><br>
  <!-- Ronald S. Southard
  Richard M. Milne
  Nathan J. Winters
  Alice M. Richardson -->
  <div class="row" >
      <div class="col-md-3 ">
          <div class="card" style="width: 70%; margin: auto;">
              <img class="card-img-top" src="assets/emp1.jpg">
              <div class="card-body">
                  <h4 class="card-title">Ronald S. Southard</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card" style="width: 70%; margin: auto;">
              <img class="card-img-top" src="assets/emp2.jpg">
              <div class="card-body">
                  <h4 class="card-title">Nathan J. Winters</h4>
                  <p class="card-text">Lorem ut sint rem illo quas blanditiis repellendus optio delectus, eius error dolor.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card" style="width: 70%; margin: auto;">
              <img class="card-img-top" src="assets/emp3.jpg" >
              <div class="card-body">
                  <h4 class="card-title"> Richard M. Milne</h4>
                  <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit, facere similique eius error dolor</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card" style="width: 70%; margin: auto;">
              <img class="card-img-top" src="assets/emp4.jpg">
              <div class="card-body">
                  <h4 class="card-title">Alice M. Richardson</h4>
                  <p class="card-text">Accusantium vitae quaerat facere similique tenetur maxime consectetur pariatur sit rerum?</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
          </div>
      </div>
  </div>
