

  <div class="home" id="home">
  
    <div class="row justify-content-center align-self-center home-block">
        <div class="col-md-1">
  
        </div>
        <div class="col-md-5 align-self-center">
            <h5 style="color: grey;">Our Company</h5>
            <h2>Averta Strategy is government appreciated product base IT startup.</h2>
        </div>
        <div class="col-md-5 align-self-center">
            <p class="home-p">Averta strategy is a Technology product base start-up which provides solutions to business problems. Our solutions & products are up to market expectations which helps our clients in propelling to the next level so to beat the competition and create their own brand and uniqueness. We understand every client need a consultative approach in understanding and solving the real-life business problems.</p>
        </div>
        <div class="col-md-1">
  
        </div>
    </div>
    
  </div>

  <div class="about" id="about">
        
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/application.jpg" height="500">
            <div class="carousel-caption">
                <h3>Application Development</h3>
                <p>Our Application Development practice specializes in application services that span the full software development life cycle. Through our commitment to superior customer service and a personal dedication to helping our clients achieve success, we maintain a customer satisfaction higher than the industry average.</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="assets/cloud.jpg" height="500">
            <div class="carousel-caption">
                <h3>Cloud Services</h3>
                <p>As a new world many companies are providing Cloud services at many levels (like IaaS, SaaS, etc), Averta team can help to modernize your IT infrastructure on Cloud. This gives opportunity as a business owner to focus more on business model rather than IT system</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="assets/iot.jpeg"  height="500">
            <div class="carousel-caption">
                <h3>Internet of Things</h3>
                <p>In a modern world many smart devices are around us, challenges to connect these devices to internet. Increasingly, organizations in a variety of industries are using IoT to operate more efficiently, better understand customers to deliver enhanced customer service, improve decision-making and increase the value of the business.</p>
              </div>
          </div>
        </div>
        

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      

</div>


  

