html {
    scroll-behavior: smooth;
    
  }


.navbar-a {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-c {
    padding-left: 20px;
    padding-right: 30px;
}


.navbar-h {
    padding-left: 20px;
    padding-right: 50px;
    font-size: larger;
    color: white;
}

:host {
    background:#343a40;
    height: 100%;
}

.home {
    background-color: #343a40 ;
    height: 100%;
    color:#D9D9D9;
}

.about {
    background-color: #eff4ff;
    height: 720px;
}

.team {
    background-color:#698091;
    height: 720px;
}



.home-block {
    height: 100%;
}

.contact {
    background-color:#B1BCCA;
    height: 780px;
}

.carousel-inner img {
    filter: brightness(60%); 
    width: 100%;
    height: 720px;
  }


.home-p {
    font-size: 20px;
}

.card-c {
    background-color:#224660 ;
    color: white;
}

.card-i {
    background-color:#3D6F8B;

}

footer {
    color:white;
    background-color: #343a40 ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

